.button {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    background-color: #ACCECE;
    color: #F0F4F4; 
    font-family: 'Vazirmatn';
}

h1 {
    font-family: 'Rajdhani';
    font-size:xx-large;
}

.page_background{
    background-color: white;
}

.main_page {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;

}
  
.links {
    display: flex;
    justify-content: space-between;
    background-color: #ACCECE;
    font-family: 'Vazirmatn';
}
  
.links text {
    flex: 1;
}
  
.links-container {
    flex: 1;
    display: flex;
    justify-content: space-between;
}
  
.links-container a {
    margin-right: 10px;
    margin-top: 35px;
    justify-content: center;
}

.text {
    flex: 1;
    padding: 20px;
}

.drinks-img img{
    padding-left: 100px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.drinks-img p{
    padding-left: 100px;
}
  
.image {
    flex: 1;
    padding: 20px;
}
  
.main_page img {
    max-width: 60%;
    height: auto;
    justify-content: center;
    justify-content: space-around;
}

.button-1 {
  background-color: #3F93B1;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #F0F4F4;
  cursor: pointer;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 5px;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.button-1:hover,
.button-1:focus {
  background-color: #ACCECE;
}


body{
    font-family: 'Verdanda';
    margin: 0; 
    padding: 20px;
    background-color: #F0F4F4;
    color: black;
    font-size: large;
}

.logo img {
    max-width: 30%;
    max-height: 30%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
}