.button {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    background-color: #ACCECE;
    color: #F0F4F4; 
    font-family: 'Vazirmatn';
}

.button-1 {
  background-color: #3F93B1;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #F0F4F4;
  cursor: pointer;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 5px;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.button-1:hover,
.button-1:focus {
  background-color: #ACCECE;
}


body{
    font-family: 'Verdanda';
    margin: 0; 
    padding: 20px;
    background-color: #F0F4F4;
    color: black;
}

img {
    max-width: 30%;
    max-height: 30%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
}

/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    border: 2px solid #333;
    padding: 20px;
}

.logo {
    display: block;
    margin: 0 auto;
    max-width: 200px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.buttons button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
}

.content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
}

.content h1 {
    flex: 1;
    font-size: 24px;
}

.content p {
    flex: 1;
    font-size: 16px;
}

.content img {
    flex: 1;
    max-width: 100%;
    margin-top: 20px;
}

.social-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-buttons button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
}

@media only screen and (max-width: 640px){
    #mobileNav {
        background: #fff;
        margin: 0 0 15px;
    }
}

#mobileNav, #mobileNav .subnav {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    -webkit-transition: max-height,.3s;
    -moz-transition: max-height,.3s;
    -o-transition: max-height,.3s;
    transition: max-height,.3s;
}

@media only screen and (max-width: 640px) {
    #mobileMenuLink a {
        cursor: pointer;
        display: block;
        margin: 0;
        font-size: 16px !important;
        color: #263333;
    }
}

@media screen and (max-width: 768px) {
    .content {
        flex-direction: column;
    }
    
    .content h1, .content p, .content img {
        flex: none;
        width: 100%;
    }
}


.e1_7 { 
	background-color:rgba(255, 255, 255, 1);
	width:1512px;
	height:982px;
	position:absolute;
}
.e4_63 { 
	background-color:rgba(240.00000089406967, 244.0000006556511, 244.0000006556511, 1);
	width:1603px;
	height:1071px;
	position:absolute;
	left:-54px;
	top:-63px;
}
.e3_34 { 
	background-color:rgba(255, 255, 255, 1);
	width:1445px;
	height:910px;
	position:absolute;
	left:37px;
	top:30px;
}
.e3_35 { 
	width:549px;
	height:210px;
	position:absolute;
	left:418px;
	top:0px;
	background-image:url(images/ceremony_pvd_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_60 { 
	color:rgba(0, 0, 0, 1);
	width:664px;
	height:90px;
	position:absolute;
	left:29px;
	top:315px;
	font-family:Rajdhani;
	text-align:center;
	font-size:45px;
	letter-spacing:0;
}
.e3_61 { 
	color:rgba(0, 0, 0, 1);
	width:736px;
	height:405px;
	position:absolute;
	left:41px;
	top:429px;
	font-family:Verdana;
	text-align:left;
	font-size:29px;
	letter-spacing:0;
}
.e5_73 { 
	width:300px;
	height:55px;
	position:absolute;
	left:562px;
	top:210px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.ei5_73_1_17 { 
	background-color:rgba(171.80496901273727, 206.01708680391312, 206.01708680391312, 1);
	width:300px;
	height:55px;
	position:absolute;
	left:4.547473508864641e-13px;
	top:-0.0008429276058450341px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.ei5_73_1_18 { 
	color:rgba(255, 255, 255, 1);
	width:247px;
	height:28px;
	position:absolute;
	left:25.68421173095703px;
	top:13.878104209899902px;
	font-family:Vazirmatn;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e5_85 { 
	width:120px;
	height:55px;
	position:absolute;
	left:1310px;
	top:210px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.ei5_85_1_17 { 
	background-color:rgba(171.80496901273727, 206.01708680391312, 206.01708680391312, 1);
	width:120px;
	height:55px;
	position:absolute;
	left:4.547473508864641e-13px;
	top:-0.0008429276058450341px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.ei5_85_1_18 { 
	color:rgba(255, 255, 255, 1);
	width:68px;
	height:28px;
	position:absolute;
	left:24.68421173095703px;
	top:13.878104209899902px;
	font-family:Vazirmatn;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e3_36 { 
	width:120px;
	height:55px;
	position:absolute;
	left:16px;
	top:210px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.ei3_36_1_17 { 
	background-color:rgba(171.80496901273727, 206.01708680391312, 206.01708680391312, 1);
	width:120px;
	height:55px;
	position:absolute;
	left:4.547473508864641e-13px;
	top:-0.0008429276058450341px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.ei3_36_1_18 { 
	color:rgba(255, 255, 255, 1);
	width:62px;
	height:28px;
	position:absolute;
	left:27.68421173095703px;
	top:13.878104209899902px;
	font-family:Vazirmatn;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e5_65 { 
	width:120px;
	height:55px;
	position:absolute;
	left:148px;
	top:210px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.ei5_65_1_17 { 
	background-color:rgba(171.80496901273727, 206.01708680391312, 206.01708680391312, 1);
	width:120px;
	height:55px;
	position:absolute;
	left:4.547473508864641e-13px;
	top:-0.0008429276058450341px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.ei5_65_1_18 { 
	color:rgba(255, 255, 255, 1);
	width:60px;
	height:28px;
	position:absolute;
	left:28.68421173095703px;
	top:13.878104209899902px;
	font-family:Vazirmatn;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e5_79 { 
	width:130px;
	height:55px;
	position:absolute;
	left:1006px;
	top:210px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.ei5_79_1_17 { 
	background-color:rgba(171.80496901273727, 206.01708680391312, 206.01708680391312, 1);
	width:130px;
	height:55px;
	position:absolute;
	left:4.547473508864641e-13px;
	top:-0.0008429276058450341px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.ei5_79_1_18 { 
	color:rgba(255, 255, 255, 1);
	width:86px;
	height:28px;
	position:absolute;
	left:20.68421173095703px;
	top:13.878104209899902px;
	font-family:Vazirmatn;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e5_82 { 
	width:150px;
	height:55px;
	position:absolute;
	left:1148px;
	top:210px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.ei5_82_1_17 { 
	background-color:rgba(171.80496901273727, 206.01708680391312, 206.01708680391312, 1);
	width:150px;
	height:55px;
	position:absolute;
	left:4.547473508864641e-13px;
	top:-0.0008429276058450341px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.ei5_82_1_18 { 
	color:rgba(255, 255, 255, 1);
	width:115px;
	height:28px;
	position:absolute;
	left:16.68421173095703px;
	top:13.878104209899902px;
	font-family:Vazirmatn;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e5_76 { 
	width:120px;
	height:55px;
	position:absolute;
	left:874px;
	top:210px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.ei5_76_1_17 { 
	background-color:rgba(171.80496901273727, 206.01708680391312, 206.01708680391312, 1);
	width:120px;
	height:55px;
	position:absolute;
	left:4.547473508864641e-13px;
	top:-0.0008429276058450341px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.ei5_76_1_18 { 
	color:rgba(255, 255, 255, 1);
	width:67px;
	height:28px;
	position:absolute;
	left:25.68421173095703px;
	top:13.878104209899902px;
	font-family:Vazirmatn;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e5_70 { 
	width:270px;
	height:55px;
	position:absolute;
	left:280px;
	top:210px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.ei5_70_1_17 { 
	background-color:rgba(171.80496901273727, 206.01708680391312, 206.01708680391312, 1);
	width:270px;
	height:55px;
	position:absolute;
	left:4.547473508864641e-13px;
	top:-0.0008429276058450341px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}
.ei5_70_1_18 { 
	color:rgba(255, 255, 255, 1);
	width:229px;
	height:28px;
	position:absolute;
	left:19.68421173095703px;
	top:13.878104209899902px;
	font-family:Vazirmatn;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}
.e5_114 { 
	width:549px;
	height:210px;
	position:absolute;
	left:109px;
	top:-1918px;
	background-image:url(images/ceremony_pvd_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e3_62 { 
	width:516px;
	height:492px;
	position:absolute;
	left:893px;
	top:365px;
	background-image:url(images/erinmcginn_edible021_1.png);
	background-repeat:no-repeat;
	background-size:cover;
} */
